@import url(style.css);


body{
    font-size: 10px;
}

.header{
    font-size: 30px;
    /* background-color: #ff000099; */
    background-color:rgba(255, 0, 0, 0.6) ;
    height: 5em;
    /* view port v-vw, vmin, vmax */
    /* em : 가장 가까이에 있는 폰트 크기에 따라감 */
}

.cafe{
    height: 0;
    background-color: aqua;
}

.rland{
    height: 0;
    background-color: bisque;
}