section{
    background-color: #020304;
    color: white;
}

section article{
    height: 450px;
    margin-bottom: 20px;
}

/* article1 */
section .article1{
    margin-top: 0;
    padding-top: 30px;
}

section .article1 h1{
    font-size: 25px;
    font-weight: bold;
    padding: 40px 0 0 30px;
    margin-top: 0;
}

section .article1 h1 span{
    color: rgb(255, 0, 0);
}

section .article1 p{
    padding: 15px 0 0 30px;
    font-size: 15px;
}

section .article1 .img{
    width: 300px;
    padding: 20px 0 0 30px;
}

/* article2 */
section .article2{
    text-align: center;
}

section .article2 h1{
    font-size: 25px;
    font-weight: bold;
}

section .article2 h1 span{
    color: orange;
}

section .article2 .img{
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
}

section .article2 p{
    padding-top: 15px;
    font-size: 15px;
}

/* article3 */
section .article3{
    text-align: right;
}

section .article3 h1{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 30px 0 0;
}

section .article3 h1 span{
    color: sienna;
}

section .article3 p{
    padding-top: 15px;
    padding-right: 30px;
    font-size: 15px;
}

section .article3 .img{
    width: 300px;
    padding-top: 20px;
    padding-left: 33%;
}

/* article4 */
section .article4{
    height: 550px;
    text-align: center;
    margin-bottom: 0;
}

section .article4 .tree{
    height: 450px;
    background: url(../images/b14.jpg) no-repeat 0 0;
    opacity: 60%;
    z-index: 3;
    background-size: cover;
}

section .article4 h1{
    position: relative;
    top: -55%;
    font-size: 28px;
}

section .article4 p{
    position: relative;
    bottom: 8%;
}