section{
    background-color: #020304;
    color: white;
}

section article{
    height: 300px;
    margin-bottom: 20px;
}

section article ul li{
    margin-bottom: 10px;
}

section article ul li:first-child{
    font-size: 20px;
    font-weight: bold;
}

/* article1 */
section .article1{
    margin-top: 0;
    padding-top: 30px;
}

section .article1 ul{
    margin-left: 30px;
    text-align: left;
}

section .article1 li:first-child span{
    color: red;
}

section .article1 li:nth-child(2){
    font-size: 12px;
}

section .article1 li:nth-child(3){
    width: 250px;
}

/* article2 */
section .article2{
    margin-top: 0;
    padding-top: 30px;
}

section .article2 ul{
    text-align: center;
}

section .article2 li:first-child span{
    color: orange;
}

section .article2 li:nth-child(2){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

section .article2 li:nth-child(3){
    font-size: 12px;
}

/* article3 */
section .article3{
    margin-top: 0;
    padding-top: 30px;
}

section .article3 ul{
    margin-right: 30px;
    text-align: right;
}

section .article3 li:first-child span{
    color: brown;
}

section .article3 li:nth-child(2){
    font-size: 12px;
}

section .article3 li:nth-child(3){
    position: absolute;
    right: 7%;
    width: 250px;
}

/* article4 */
section .article4{
    height: 550px;
    text-align: center;
    margin-bottom: 0;
}

section .article4 .tree{
    height: 450px;
    background: url(../images/b14.jpg) no-repeat 0 0;
    opacity: 60%;
    z-index: 3;
    background-size: cover;
}

section .article4 h1{
    position: relative;
    top: -55%;
    font-size: 25px;
}

section .article4 p{
    font-size: 15px;
    position: relative;
    bottom: 6%;
}